body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

header {
    padding: 20px;
}

#sidebar-opener {
    display: block;
    border: none;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid var(--paper);
    background-color: var(--navy);
    color: var(--light);
    font-size: inherit;
    font-family: var(--sansfont);
}

.sidebar {
    margin: 20px;
    border: 5px solid var(--navy);
}

.sidebar .container {
    position: static;
    height: auto;
    display: none;
}

.sidebar nav>ul li {
    margin: 5px 0;
    padding: 5px 10px;
}

footer {
    position: static;
    border-top: 1px solid var(--paper);
    padding-bottom: 5px;
    gap: 5px;
}

article {
    padding: 40px 20px;
}

.image {
    float: none;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
